In [1]:
import pandas as pd
from pathlib import Path

from sharability_analysis import analyze_sharability

C:\Workspaces\AIC\Ridesharing_DARP_instances\python\darpinstances\instance.py:19: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
experiment_data_path = Path(r"C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP")

In [3]:
results_path = experiment_data_path / "Results"
dc_test_results_path = results_path / r"DC\start_18-00\duration_15_min\max_delay_05_min\vga"

In [4]:
location_statistics = analyze_sharability(dc_test_results_path)
location_statistics

14:18:08 [INFO] Loading experiment config from C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Results\DC\start_18-00\duration_15_min\max_delay_05_min\vga\config.yaml
14:18:08 [INFO] Loading instance config from C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\DC\instances\start_18-00\duration_15_min\max_delay_05_min\config.yaml
14:18:08 [INFO] Loading csv file from:  C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\DC\instances\start_18-00\duration_15_min\max_delay_05_min\vehicles.csv
14:18:08 [INFO] Reading dm from: C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\DC\dm.h5
14:18:10 [INFO] Reading DARP instance from: C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\DC\instances\start_18-00\duration_15_min\max_delay_05_min\trips.di
14:18:10 [INFO] Loading solution from C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Results\DC\start_18-00\duration_15_min\max_delay_05_min\vga\config.yaml-solution.json
14:18:10 [INFO] Loading json file from: C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Results\DC\start_18-00\duration_15_min\max_delay_05_min\vga\config.yaml-solution.json

,vehicle_end_counts,vehicle_start_counts,request_origin_counts,request_destination_counts,chance_of_pickup_inflow,chance_of_dropoff_outflow
location,,,,,,
476,1.0,1.0,2.0,2.0,0.5,0.5
572,1.0,0.0,0.0,1.0,NaN,1.0
891,1.0,0.0,0.0,1.0,NaN,1.0
1098,1.0,0.0,0.0,2.0,NaN,0.5
1099,2.0,0.0,0.0,4.0,NaN,0.5
...,...,...,...,...,...,...
29754,0.0,0.0,0.0,1.0,NaN,0.0
29902,0.0,0.0,0.0,1.0,NaN,0.0
30836,0.0,0.0,0.0,1.0,NaN,0.0
31633,0.0,0.0,0.0,1.0,NaN,0.0
31849,0.0,0.0,0.0,1.0,NaN,0.0

In [5]:
manhattan_results_path = results_path / r"Manhattan\start_18-00\duration_30_min\max_delay_05_min\ih"
location_statistics_manhattan = analyze_sharability(manhattan_results_path)
location_statistics_manhattan

14:20:15 [INFO] Loading experiment config from C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Results\Manhattan\start_18-00\duration_30_min\max_delay_05_min\ih\config.yaml
14:20:15 [INFO] Loading instance config from C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\Manhattan\instances\start_18-00\duration_30_min\max_delay_05_min\config.yaml
14:20:16 [INFO] Loading csv file from:  C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\Manhattan\instances\start_18-00\duration_30_min\max_delay_05_min\vehicles.csv
14:20:16 [INFO] Reading dm from: C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\Manhattan\dm.h5
14:20:22 [INFO] Reading DARP instance from: C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Instances\Manhattan\instances\start_18-00\duration_30_min\max_delay_05_min\trips.di
14:20:23 [INFO] Loading solution from C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Results\Manhattan\start_18-00\duration_30_min\max_delay_05_min\ih\config.yaml-solution.json
14:20:23 [INFO] Loading json file from: C:\Google Drive AIC\My Drive\AIC Experiment Data\DARP\Results\Manhattan\start_18-00\duration_30_min\max_delay_05_min\ih\config.yaml-solution.json

,vehicle_end_counts,vehicle_start_counts,request_origin_counts,request_destination_counts,chance_of_pickup_inflow,chance_of_dropoff_outflow
location,,,,,,
1,1.0,1.0,7.0,4.0,0.142857,0.250000
2,1.0,0.0,3.0,5.0,0.000000,0.200000
3,2.0,0.0,2.0,8.0,0.000000,0.250000
4,1.0,1.0,2.0,4.0,0.500000,0.250000
5,1.0,0.0,2.0,3.0,0.000000,0.333333
...,...,...,...,...,...,...
6300,0.0,0.0,0.0,1.0,NaN,0.000000
6346,0.0,0.0,0.0,1.0,NaN,0.000000
6348,0.0,0.0,0.0,1.0,NaN,0.000000
6354,0.0,0.0,0.0,2.0,NaN,0.000000
6381,0.0,0.0,0.0,1.0,NaN,0.000000

                     action_type        arrival_time      departure_time  \
vehicle action_index
0       0                 pickup 2022-04-05 18:05:45 2022-04-05 18:05:45
        1                 pickup 2022-04-05 18:15:21 2022-04-05 18:15:21
        2                dropoff 2022-04-05 18:26:05 2022-04-05 18:26:05
        3                dropoff 2022-04-05 18:41:39 2022-04-05 18:41:39
1       0                 pickup 2022-04-05 18:02:05 2022-04-05 18:02:05
...                          ...                 ...                 ...
119     3                dropoff 2022-04-05 18:35:43 2022-04-05 18:35:43
120     0                 pickup 2022-04-05 18:06:59 2022-04-05 18:06:59
        1                dropoff 2022-04-05 18:08:24 2022-04-05 18:08:24
        2                 pickup 2022-04-05 18:15:32 2022-04-05 18:15:32
        3                dropoff 2022-04-05 18:30:48 2022-04-05 18:30:48

                      position
vehicle action_index
0       0                 2711
        1                  838
        2                  476
        3                18567
1       0                27634
...                        ...
119     3                30486
120     0                12108
        1                11962
        2                33004
        3                 2123

[326 rows x 4 columns]

,vehicle_end_counts,vehicle_start_counts,request_origin_counts,request_destination_counts
location,,,,
476,1.0,1.0,2.0,2.0
572,1.0,0.0,0.0,1.0
891,1.0,0.0,0.0,1.0
1098,1.0,0.0,0.0,2.0
1099,2.0,0.0,0.0,4.0
...,...,...,...,...
29754,0.0,0.0,0.0,1.0
29902,0.0,0.0,0.0,1.0
30836,0.0,0.0,0.0,1.0
31633,0.0,0.0,0.0,1.0
31849,0.0,0.0,0.0,1.0

,vehicle_end_counts,vehicle_start_counts,request_origin_counts,request_destination_counts,chance_of_pickup_inflow,chance_of_dropoff_outflow
location,,,,,,
476,1.0,1.0,2.0,2.0,0.5,0.5
572,1.0,0.0,0.0,1.0,NaN,1.0
891,1.0,0.0,0.0,1.0,NaN,1.0
1098,1.0,0.0,0.0,2.0,NaN,0.5
1099,2.0,0.0,0.0,4.0,NaN,0.5
...,...,...,...,...,...,...
29754,0.0,0.0,0.0,1.0,NaN,0.0
29902,0.0,0.0,0.0,1.0,NaN,0.0
30836,0.0,0.0,0.0,1.0,NaN,0.0
31633,0.0,0.0,0.0,1.0,NaN,0.0
31849,0.0,0.0,0.0,1.0,NaN,0.0

chance_of_pickup_inflow
1.000000    58
0.000000    54
0.500000     9
0.666667     1
0.444444     1
Name: count, dtype: int64